.image {
  max-width:100%;
  height:auto;

}


.input {
flex-direction: row;
align-items: center;
text-align: center;
width: 249px;
height: 44px;

/* Grey/Grey-100 */

background: #F2F2F2;
/* Grey/Grey-400 */

border: 2px solid #CCCCCC;
border-radius: 10px;
}