.image {
  max-width: 100%;
  height: auto;
}

.input {
  text-align: center;
  width: 250px;
  height: 44px;

  /* Grey/Grey-100 */
  background: #f2f2f2;
  /* Grey/Grey-400 */
  border: 2px solid #cccccc;
  border-radius: 10px;
}

@font-face {
  font-family: GT Flexa;
  src: url(../../Fonts/GT-Flexa-Standard-Medium.woff2);
}

.forum {
  justify-content: left;
  background-color: aqua;
  padding: 20px;
}

.mint {
  background: #2b2b2b;
  border-radius: 50px;
  border: none;
  height: 40px;

  font-family: "GT Flexa";
  font-style: normal;
  font-weight: 500;
  padding: 0 20px;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  /* Grey 3 */

  color: #f6f7fb;
}

.modal {
  position: absolute;
  background: #ffffff;
  border: 1px solid #f6f7fb;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 4px;
  top: 50%;
  display: inline-block;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.invalid {
  color: #ffffff;
  font-family: "GT";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin: 20px;
}

.mintmoment {
  background: #c8ccd0;
  border-radius: 100px;
  margin: 20px auto;
  display: block;

  border: none;
  width: 250px;
  height: 48px;
  font-family: "GT";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: black;
}

.correct {
  background: #7cfc00;
  width: fit-content;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  display: inline-block;
  margin: 5px;
}

.incorrect {
  background: red;
  width: fit-content;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin: 5px;
  display: grid;
  display: inline-block;
}

.instructions {
  font-family: "GTD";
  font-style: normal;
  font-weight: 300;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  color: #667079;
}

.drop {
  /* White */

  background: #ffffff;
  /* Grey 1 */
  margin-left: 38px;
  border: 1px solid #c8ccd0;
  border-radius: 4px;
  height: 45px;
  width: 332px;
  color: #2b2b2b;
  padding-left: 16px;

  margin-left: -20px;
}

.dropdown {
  height: 45px;
  width: 332px;
  font-family: "GTD";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #2b2b2b;
}

.correct {
  background: #7cfc00;
  width: fit-content;
  padding: 0px 10px;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  display: inline-block;
  margin: 5px;
}

.incorrect {
  background: red;
  width: fit-content;
  padding: 0px 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin: 5px;
  display: grid;
  display: inline-block;
}

.invalid {
  color: #ffffff;
  font-family: "Dahlia";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin: 20px;
}

.mintmoment {
  background: #c8ccd0;
  border-radius: 100px;
  margin: 20px auto;
  display: block;

  border: none;
  width: 250px;
  height: 48px;
  font-family: "Dahlia";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: black;
}

.box-third {
  background-color: white;
  height: 440px;
  width: 380px;
  padding: 20px 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.text-moments {
  color: white;
  font-family: GT Flexa;
  font-size: 24px;
}

.title{
    color: black;
    font-family: GT Flexa;
    font-size: 24px;
    margin: 15px 0 ;
}

@font-face {
  font-family: GT Flexa;
  src: url(../../Fonts/GT-Flexa-Standard-Medium.otf);
}

.taggingInfo {
  color: white;
  margin: 0 100px;
}

.moment {
  background: linear-gradient(
    90deg,
    hsla(288, 20%, 75%, 1) 0%,
    hsla(197, 65%, 42%, 1) 100%
  );
  margin-bottom: 30px;
  position: relative;
  margin: 20px auto;
}

.input {
  align-items: center;

  margin: 10px 0;

  width: 249px;
  height: 44px;

  /* Grey/Grey-100 */

  background: #f2f2f2;
  /* Grey/Grey-400 */

  border: 2px solid #cccccc;
  border-radius: 10px;
}
